<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="button-profile" disabled>
      </ion-button>
    </ion-buttons>

    <div class="titulos-container">

      <ion-title>Configurações</ion-title>


    </div>





  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <ion-label>
      <span class="label-fixa">Conta</span>
      <ion-item button detail="true">
 
        <ion-label slot="start" class="label-clicavel">Gerenciamento de conta</ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
    </ion-label>


    <br>
   
     <ion-label>
      <span class="label-fixa">Suporte</span>
      <ion-item button detail="true">
        
        <ion-label slot="start" class="label-clicavel">Central de ajuda</ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
    </ion-label>

    <br>

    <ion-label>
      <span class="label-fixa">Aparencia</span>
      <ion-item button (click)="openThemeSelector()" detail="true">
        <ion-icon name="contrast" slot="" color="primary"></ion-icon>
        <ion-label slot="start" class="label-clicavel">Tema do App</ion-label>
        <ion-note slot="end">{{ getCurrentStatus() }}</ion-note>
      </ion-item>
    </ion-label>



  </ion-list>


</ion-content>