
  #button-profile{
    --border-radius: 360px;
    height: 50px;
    margin: 10px;
}

#icon-profile{
    font-size: 38px;
}
.input-wrapper{
    display: inline !important;
   
}

.label-fixa{
    margin-left: 15px;
}
.label-clicavel{
    
    font-weight: 600;
}