<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <i class="bi bi-hospital-fill icons-tab"></i>
      Emergência
    </ion-tab-button>
    <ion-tab-button tab="mapa" >
      <ion-icon name="map" class="icons-tab"></ion-icon>
      Mapa
    </ion-tab-button>
    <ion-tab-button tab="telefones">
      <ion-icon name="call" class="icons-tab"></ion-icon>
      Telefones
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div class="footer-paths">
  <img alt="Silhouette of mountains" src="../../../assets/icons/filamed-sem-fundo.png" />
</div>