<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="mapa">
      <ion-icon name="map"></ion-icon>
      Mapa
    </ion-tab-button>
    <ion-tab-button tab="telefones">
      <ion-icon name="call"></ion-icon>
      Telefones
    </ion-tab-button>
    <ion-tab-button tab="configuracoes">
      <ion-icon name="settings"></ion-icon>
      Configurações
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>