<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="botao-toolbar" (click)="voltar()">
        <ion-icon id="icon-toolbar" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="titulos-container">
      <ion-title id="home-title">Endereços</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">config-user</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
