

.div-btLocalizacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.separacao{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.div-botoes{
    width: max-content;
}
.div-span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}


.prediction-div{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}


