<ion-header [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons class="div-pular-button" slot="end">
      <ion-button id="pular-button" style="transition: all 0.3s ease-in-out;" *ngIf="currentIndex !== 6"
        (click)="pularHome()">Pular</ion-button>
    </ion-buttons>
    <ion-title>
      <img src="../../../../assets/icons/filamed-azul-sf.png" alt="FilaMed Logo" id="filamed-logo">
      <img src="../../../../assets/icons/filamed-sem-fundo.png" alt="FilaMed Logo" id="filamed-logo-1">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="carousel-container">
    <div class="carousel" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">

      <!-- Página 1 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-1">
              Bem-vindo, usuário!
              O <span>FilaMed</span> é o aplicativo
              feito para ajudar <span>você</span>!
            </p>
          </div>

          <div class="carousel-inner">
            <img src="../../../../assets/images/swipper/enf-light-mode.png" alt="" id="enf-img">
            <img src="../../../../assets/images/swipper/enf-dark-mode.png" alt="" id="enf-img-1">
          </div>

          <div class="carousel-inner">
            <p class="carousel-footer-page-1">
              Entenda como nosso <span>APP</span> funciona
              nas próximas páginas!
            </p>
          </div>

        </div>


        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>



      </div>

      <!-- Página 2 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-2">
              Encontre a Unidade de Pronto Atendimento
              que irá lhe atender <span>mais rápido</span> através
              do <span>tempo</span> e <span>distância</span> apresentados.
            </p>
          </div>

          <div class="carousel-inner">
            <ion-card class="swipper-card">
              <ion-card-content class="swipper-card-content">
                <ion-list>
                  <ion-item>
                    <ion-thumbnail slot="end" class="swipper-card-thumbnail">
                      <img alt="FilaMed Logo" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <div class="informacoes-div-swipper">
                      <h1>UPA Exemplo - 3,5 km </h1>
                      <p><i class="bi bi-geo-alt-fill icon-text-swipper"></i>&nbsp; Tempo Ida: <span>10 min</span></p>
                      <p><i class="bi bi-clock-fill icon-text-swipper"></i>&nbsp; Fila Espera: <span>10 min</span></p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>

          <div class="carousel-inner">
            <p class="carousel-footer-page-2">
              Ao tocar na unidade desejada, seja
              <span>redirecionado diretamente Google Maps</span>,
              para seguir o caminho do hospital selecionado!
            </p>
          </div>

        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

      <!-- Página 3 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-3">
              A tela de <span>Emergência</span> apresenta à você as
              opções de <span>UPAs</span> disponíveis, <span>seu tempo de
                distância</span> e <span>seu tempo para atendimento</span>!
            </p>
          </div>

          <div class="carousel-inner">


            <ion-tab-bar class="tab-bar-swipper">
              <ion-tab-button tab="home" class="tab-selected">
                <i class="bi bi-hospital-fill icons-tab-swipper"></i>
                Emergência
              </ion-tab-button>
              <ion-tab-button tab="mapa">
                <ion-icon name="map" class="icons-tab-swipper"></ion-icon>
                Mapa
              </ion-tab-button>
              <ion-tab-button tab="telefones">
                <ion-icon name="call" class="icons-tab-swipper"></ion-icon>
                Telefones
              </ion-tab-button>

            </ion-tab-bar>



          </div>

          <div class="carousel-inner">
            <p class="carousel-footer-page-3">
              Ao ter uma situação em que necessite de
              atendimento imediato, <span>conte conosco</span>!
            </p>
          </div>

        </div>

        <div class="dedo-apontado-3">
          <i class="bi bi-hand-index"></i>
        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

      <!-- Página 4 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-4">
              A tela de <span>Mapa</span> apresenta à você todas as
              UPAs disponíveis, <span>seu tempo de distância</span> e
              <span>seu tempo para atendimento</span>!
            </p>
          </div>

          <div class="carousel-inner">


            <ion-tab-bar class="tab-bar-swipper">
              <ion-tab-button tab="home">
                <i class="bi bi-hospital-fill icons-tab-swipper"></i>
                Emergência
              </ion-tab-button>
              <ion-tab-button tab="mapa" class="tab-selected">
                <ion-icon name="map" class="icons-tab-swipper"></ion-icon>
                Mapa
              </ion-tab-button>
              <ion-tab-button tab="telefones">
                <ion-icon name="call" class="icons-tab-swipper"></ion-icon>
                Telefones
              </ion-tab-button>

            </ion-tab-bar>



          </div>

          <div class="carousel-inner">
            <p class="carousel-footer-page-4">
              Para ver <span>geograficamente</span> a distância de
              cada hospital, <span>utilize essa página</span>!
            </p>
          </div>

        </div>

        <div class="dedo-apontado-4">
          <i class="bi bi-hand-index"></i>
        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

      <!-- Página 5 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-5">
              A tela de <span>Telefones</span> apresenta à você
              <span>todos os contatos de emergência</span>
              caso perceba que precisa de <span>suporte</span>
              no <span>deslocamento</span>!
            </p>
          </div>

          <div class="carousel-inner">


            <ion-tab-bar class="tab-bar-swipper">
              <ion-tab-button tab="home">
                <i class="bi bi-hospital-fill icons-tab-swipper"></i>
                Emergência
              </ion-tab-button>
              <ion-tab-button tab="mapa">
                <ion-icon name="map" class="icons-tab-swipper"></ion-icon>
                Mapa
              </ion-tab-button>
              <ion-tab-button tab="telefones" class="tab-selected">
                <ion-icon name="call" class="icons-tab-swipper"></ion-icon>
                Telefones
              </ion-tab-button>

            </ion-tab-bar>



          </div>

          <div class="carousel-inner">
            <p class="carousel-footer-page-5">
              Todos os contatos direcionam aos <span>orgãos
                oficiais responsáveis por atendimento e
                encaminhamento rápido ao hospital</span>.
            </p>
          </div>

        </div>

        <div class="dedo-apontado-5">
          <i class="bi bi-hand-index"></i>
        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

      <!-- Página 6 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner">
            <p class="carousel-title-page-6">
              Em nosso <span>menu</span>, localizado a direita,
              você tem acesso à <span>todas
                as suas Configurações</span>.
            </p>
          </div>

          <div class="carousel-inner">
            <div class="ion-toolbar-swipper" slot="start">
              <div class="titulos-container-swipper">
                <ion-title id="welcome-filamed">Bem-vindo ao Filamed</ion-title>
                <span id="span-filamed">{{data}}</span>
              </div>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon id="botao-toolbar-swipper" name="ellipsis-vertical"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>

          </div>

          <div class="carousel-inner-page-6">

            <img src="../../../../assets/images/swipper/seta-light.png" alt="Seta apontando no light mode"
              id="seta-light">
            <img src="../../../../assets/images/swipper/seta-dark.png" alt="Seta apontando no dark mode" id="seta-dark">


            <p class="carousel-footer-page-6">
              Para alterar o raio de distância
              utilizado em seu aplicativo,
              acesse o menu e ajuste!
            </p>
          </div>

        </div>

        <div class="popover-swipper">
          <ion-list>
            <ion-item>
              <ion-label>Opções de Distância</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tema</ion-label>
              <ion-note slot="end"></ion-note>
            </ion-item>
            <ion-item>
              <ion-label>Termos de Uso</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Privacidade e Segurança</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Central de Ajuda</ion-label>
            </ion-item>
          </ion-list>
        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

      <!-- Página 7 -->
      <div class="carousel-page">

        <div class="carousel-content">

          <div class="carousel-inner-page-7">
            <p class="carousel-title-page-7">
              Antes de começar,
              precisamos de <span>você</span>!

            </p>
          </div>

          <div class="carousel-inner-page-7" id="pageBotoes">
            <ion-checkbox labelPlacement="end" [(ngModel)]="checkbox" required
              [class]="isCheckboxInvalid ? class_error : ''" errorText="Você deve aceitar os termos para continuar">
              Li e aceito os <a>Termos de Uso</a> <ion-text color="danger">*</ion-text>
            </ion-checkbox>
          </div>

          <div class="carousel-inner-page-7" id="pageBotoes">
            <ion-button id="btIniciarApp" (click)="irHome()">Iniciar</ion-button>
            <ion-button id="btSairApp">Sair</ion-button>
          </div>


        </div>

        <div class="indicators-container">
          <div class="indicators">
            <div *ngFor="let indicator of pages; let i = index" class="indicator" [class.active]="currentIndex === i">
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Botões de controle -->
    <button class="carousel-control prev" [class.hidden]="currentIndex === 0" (click)="goToPrev()"
      ion-activatable="false">
      <ion-icon class="butao-icon" name="chevron-back"></ion-icon>
    </button>

    <button class="carousel-control next" [class.hidden]="currentIndex === 6" (click)="goToNext()"
      ion-activatable="false">
      <ion-icon class="butao-icon" name="chevron-forward"></ion-icon>
    </button>
  </div>
</ion-content>