.transparent-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Remover sombra da toolbar */
ion-toolbar {
    box-shadow: none !important;
}



.carousel-content {
    width: 75%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    z-index: 1; /* Número MAIOR que o pai */
}
.carousel-inner {
  width: 100%;
  height: 100%;           /* Ocupa 100% da altura */
  display: flex;
  flex-direction: column; /* Conteúdo em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;     /* Centraliza horizontalmente */
  /* Remove padding-bottom se existir */

}
.carousel-inner-page-7{
    width: 100%;
    height: 100%;           /* Ocupa 100% da altura */
    display: flex;
    flex-direction: column; /* Conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
       /* Centraliza horizontalmente */
    /* Remove padding-bottom se existir */
}
#pageBotoes{
    align-items: center;
}