<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="button-profile">
        <ion-icon name="person-circle" id="icon-profile"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulos-container">
      <ion-title>Hospitais Por Perto</ion-title>
    </div>
    <ion-buttons slot="end">
      <div class="container-search">
        <input type="text" placeholder="Search...">
        <div class="search"></div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <capacitor-google-map class="mapa-container" #map></capacitor-google-map>
</ion-content>
