.mapa-container {
    width: 100%;
    height: 93%;
    position: absolute;
    transition: filter 0.3s ease;
  }
  
  // Ajustes específicos para o tema escuro
  .dark {
    .mapa-container {
      filter: brightness(0.9) contrast(1.1);
    }
    
    // Ajustes para a toolbar no modo escuro
    ion-toolbar {
      --background: var(--ion-color-dark);
      --color: var(--ion-color-dark-contrast);
    }
  }
  
  // Ajustes para a toolbar no modo claro
  ion-toolbar {
    transition: --background 0.3s ease, --color 0.3s ease;
  }