<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="botao-toolbar" (click)="presentPopover($event)">
        <ion-icon id="icon-toolbar"
          name="ellipsis-vertical" 
          >
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="titulos-container">
      <ion-title id="home-title">Mapa de Hospitais</ion-title>
     
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollX]="false" [scrollY]="false">
    <div #map class="map-container"></div> 

  <!-- Loading overlay -->
  @if (isLoading()) {
    <div class="loading-container">
      <ion-spinner></ion-spinner>
      <p>Carregando mapa...</p>
    </div>
  }

  <!-- Error overlay -->
  @if (loadError()) {
    <div class="error-overlay">
      <ion-icon name="warning" size="large"></ion-icon>
      <h3>Erro ao carregar o mapa</h3>
      <ion-button (click)="retryLoadMap()" id="btTentarNovamente">
        Tentar Novamente
      </ion-button>
    </div>
  }

  
</ion-content>