.map-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  overflow: hidden;
}

/* Garanta que o IonContent seja transparente e não cubra o mapa */
ion-content {
 
  --background: transparent !important;
  background: transparent !important;
}

/* Garanta que os overlays (Header, Loading, Erro) fiquem em cima */
ion-header {
  z-index: 10; 
}
.loading-container, .error-overlay {
  z-index: 5; /* ou mais, desde que seja maior que 1 */
}
.error-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a4071a;
  
  z-index: 1000;
  padding: 20px;
  text-align: center;
}
