<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="botao-toolbar" (click)="presentPopover($event)">
        <ion-icon id="icon-toolbar"
          name="ellipsis-vertical" 
          >
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="titulos-container">
      <ion-title id="home-title">Mapa de Hospitais</ion-title>
     
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <capacitor-google-map class="mapa-container" #map></capacitor-google-map>
</ion-content>
