<ion-header [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-title>
      <img src="../../../../assets/icons/filamed-azul-sf.png" alt="FilaMed Logo" id="filamed-logo">
      <img src="../../../../assets/icons/filamed-sem-fundo.png" alt="FilaMed Logo" id="filamed-logo-1">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="textos">
          <p id="titulo-aviso-dados">
            O FilaMed cuida dos seus dados!
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="textos">
          <p id="texto-aviso-dados">
          Aqui, você não precisa se preocupar, <br>
          <span>seus dados</span> estão armazenados de <br>
          forma segura, de acordo com a 
          <span>LGPD<br> – Lei Geral de Proteção de 
          Dados <br>Pessoais (Lei nº 13.709/2018)</span>.
        </p>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <div class="div-images-aviso-dados">
          <img src="../../../../assets/images/aviso-dados/smile-light.gif" alt="Smile feliz Light" id="smile-light">
          <img src="../../../../assets/images/aviso-dados/smile-dark.gif" alt="Smile feliz Dark" id="smile-dark">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="textos">
          <ion-button id="btAvancar">Avançar</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
