.transparent-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

ion-toolbar {
    box-shadow: none !important;
}

.div-btLocalizacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.div-btSalvarConfig{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.separacao{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.div-botoes{
    width: max-content;
}
.div-span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
#asterisco{
    color: #a4071a;
}

.prediction-div{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}


