<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="botao-toolbar" (click)="presentPopover($event)">
        <ion-icon id="icon-toolbar"
          name="ellipsis-vertical" 
          >
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="titulos-container">
      <ion-title id="home-title">Bem-vindo ao Filamed</ion-title>
      <span id="home-title">{{data}}</span>
     
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p id="titulo-cards-home">Encontre a Unidade de Pronto Atendimento que irá lhe <br> atender mais rápido!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="irHospital()">
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="end">
                  <img alt="FilaMed Logo" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                </ion-thumbnail>
                <div class="informacoes-div">
                  <h1>UPA Exemplo - 3,5 km </h1>
                  <p><i class="bi bi-geo-alt-fill icon-text"></i>&nbsp; Tempo Ida: <span>{{tempo}}</span></p>
                  <p><i class="bi bi-clock-fill icon-text"></i>&nbsp; Fila Espera: <span>{{tempo}}</span></p>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>