#button-profile{
    --border-radius: 360px;
    height: 50px;
    margin: 10px;
}

#icon-profile{
    font-size: 38px;
}
.input-wrapper{
    display: inline !important;
   
}



ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ion-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}



.container-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: auto; /* Isso força o container para a direita */
  margin-right: 20px;
}

.search {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0; /* Alterado de left para right */
  bottom: 0;
  width: 35px;
  height: 35px;
  background: #0e2b52;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  cursor: pointer;
}


// perninha do Lupa
.search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 20px;
  right: 7px; /* Alterado de left para right */
  width: 10px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.3s;
}

// bolinha do Lupa
.search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 7px;
  right: 13px; /* Alterado de left para right */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
}

.container-search input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0; /* Alterado de left para right */
  bottom: 0;
  width: 0px;
  height: 30px;
  outline: none;
  border: none;
  background: #0e2b52;
  color: white;
  padding: 0 20px 0 80px; /* Invertido o padding */
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
 /* Texto da direita para esquerda */
}

.container-search input:hover {
  cursor: pointer;
}

.container-search input:focus {
  width: 250px;
  opacity: 1;
  cursor: text;
  padding: 0 20px 0 20px; /* Ajuste no padding quando expandido */
}

.container-search input:focus ~ .search {
  right: 0px; /* Posição ajustada para a esquerda */
  background: #0e2b52;
  z-index: 6;
}

//perninha do X

.container-search input:focus ~ .search::before {
  top: 16px;
  right: 4px; /* Alterado de left para right */
  width: 25px;
}

.container-search input:focus ~ .search::after {
  top: 16px;
  right: 4px; /* Alterado de left para right */
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
  
}

//

.container-search input::placeholder {
  color: white;
 /* Alinhamento do placeholder à direita */
}
