:host {
    display: block;
    height: 100%;
  }
  
  ion-content {
    --background: transparent;
  }
  .div-btSalvarConfig{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}