:host {
    display: block;
    height: 100%;
  }
  
  ion-content {
    --background: transparent;
  }
  .div-btSalvarConfig{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.transparent-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

ion-toolbar {
    box-shadow: none !important;
}
.div-card-wrapper{

}

.div-btLocalizacao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button-localizacao {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .direita {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .esquerda {
    width: min-content;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-img {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .direita {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .esquerda {
    width: min-content;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

