/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


//import de fontes
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


ion-header ion-toolbar {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

body {
  --ion-background-color: #fff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #000;
 
  --ion-border-color: #fff;
  --ion-item-background: #fff;
  
  /* Componentes específicos */
  --ion-toolbar-background: #d8dde3;
  --ion-toolbar-color: #0e2b52;
  
  
}

ion-tab-bar {
    --background: #d8dde3 !important;
    --color: #0e2b52 !important;
     --color-selected: #a4071a;
}


/* Action Sheet customizado */
.action-sheet-wrapper{
  background-color: #d8dde3 !important;

  --color: #0e2b52 !important;

}
.action-sheet-group{
  background-color: #d8dde3 !important;
 
  --color: #0e2b52 !important;

}

.action-sheet-button{
  background-color: #d8dde3 !important;
  color: #0e2b52 !important;

}
.cancelarAction{
  --color: #a4071a !important;
  color: #a4071a !important;
}

ion-card{
  background-color: #fff;
  border: 3px solid #0e2b52;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}






/* dark mode */
body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #222222;
  --ion-item-background: #1a1a1a;
  
  /* Componentes específicos */
  --ion-toolbar-background: #1a1a1a;
  --ion-toolbar-color: #f5f5f5;
  
}



/* Modo escuro - mais específico */
body.dark tabs-page ion-tab-bar,
body.dark .ion-page ion-tab-bar {
    --background: #1e1e1e !important;
    --color: #fff !important;
     --color-selected: #b1c2d8;
}




body.dark .action-sheet-wrapper{
  background-color: #1a1a1a !important;

  --color: #0e2b52 !important;

}
body.dark .action-sheet-group{
  background-color: #1a1a1a !important;
 
  --color: #f5f5f5 !important;

}

body.dark .action-sheet-button{
  background-color: #1a1a1a !important;
  color: #f5f5f5 !important;

}
body.dark .cancelarAction{
  --color: #a4071a !important;
  color: #a4071a !important;
}







